/**{*/
/*    box-sizing: border-box;*/
/*}*/

/*[class*="col-"] {*/
/*    float: left;*/
/*}*/

.head {
    background: mediumseagreen;
    height: 10%;
}

.left {
    background: azure;
    border: 1px solid darkgreen;
}

.contain {
    background: azure;
    border: 1px solid darkgreen;
}

.right {
    background: azure;
    border: 1px solid darkgreen;
    min-height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid darkgreen;
}

/*màn hình điện thoai*/
@media only screen and (max-width:740px ){
    .col-s-1 {width: 8.33333%;}
    .col-s-2 {width: 16.66667%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33333%;}
    .col-s-5 {width: 41.66667%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33333%;}
    .col-s-8 {width: 66.66667%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33333%;}
    .col-s-11 {width: 91.66667%;}
    .col-s-12 {width: 100%;}
    /*tăng kích thước font cho dễ đọc*/
    li{
        font-size: 40px;
        text-align: center;
        color: black;
    }
    p{
        font-size: 35px;
        color: black;
    }
    .title{
        font-size: 55px;
        color: black;
    }
}
/*Màn hinh laptop và máy tính bảng*/
@media only screen and (min-width:741px)and (max-width:1240px){
    .col-m-1 {width: 8.33333%;}
    .col-m-2 {width: 16.66667%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33333%;}
    .col-m-5 {width: 41.66667%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33333%;}
    .col-m-8 {width: 66.66667%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33333%;}
    .col-m-11 {width: 91.66667%;}
    .col-m-12 {width: 100%;}
}
/*Màn hình máy tính pc và tivi smart*/
@media only screen and (min-width:1241px){
    .col-l-1 {width: 8.33333%;}
    .col-l-2 {width: 16.66667%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33333%;}
    .col-l-5 {width: 41.66667%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33333%;}
    .col-l-8 {width: 66.66667%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33333%;}
    .col-l-11 {width: 91.66667%;}
    .col-l-12 {width: 100%;}
}
/*-------------------------*/
#menu{
    height: 30px;
    padding:0;
    margin:0;
    background-color: #000000;
    border: 1px solid #CDCDCD;


}

#menu ul, #menu li{
    padding:0;
    margin:0;
}

#menu li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}

#menu li a{
    width:100px;
    height: 30px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: white;
}

#menu ul ul li a{
    width: 200px;
    text-align: left;
    padding-left: 10px;
}

#menu li a:hover{
    background-color: #ff0000;
}

#menu ul ul{
    position: absolute;
    top: 30px;
    left: 15px;
    visibility: hidden;
}

#menu ul li:hover ul{
    visibility: visible;
}
/*--------------------*/

/*----------------*/
#menudoc, #menudoc ul, #menudoc li{
    padding:0;
    margin:0;
}

#menudoc li{
    list-style: none;
    position: relative;
    width:100px;
    height: 30px;
    padding:0 20px;
    background-color: black;
    line-height: 30px;
    cursor:pointer;
}

#menudoc li a{
    text-decoration:none;
    color: white;
}

#menudoc li:hover{
    background-color:red;
}

#menudoc ul ul{
    position: absolute;
    top:0;
    left:140px;
    visibility:hidden;
}

#menudoc ul li:hover ul{
    visibility:visible;
}
/*-------------------*/
#menudocleft, #menudocleft ul, #menudocleft li{
    padding:0;
    margin:0;
}

#menudocleft li{
    list-style: none;
    position: relative;
    width:100px;
    height: 30px;
    padding:0 20px;
    background-color: black;
    line-height: 30px;
    cursor:pointer;
}

#menudocleft li a{
    text-decoration:none;
    color: white;
}

#menudocleft li:hover{
    background-color:red;
}

#menudocleft ul ul{
    position: absolute;
    top:0;
    left:140px;
    visibility:hidden;
}

#menudocleft ul li:hover ul{
    visibility:visible;
}

/*------------------*/


/*--------------------*/
#menudocright2, #menudocright2 ul, #menudocright2 li{
    padding:0;
    margin:0;
}

#menudocright2 li{
    list-style: none;
    position: relative;
    width:100%;
    height: 30px;
    padding:0 20px;
    background-color: black;
    line-height: 30px;
    cursor:pointer;
}

#menudocright2 li a{
    text-decoration:none;
    color: white;
}

#menudocright2 li:hover{
    background-color:red;
}

#menudocright2 ul ul{
    position: absolute;
    top:0;
    left:140px;
    visibility:hidden;
}

#menudocright2 ul li:hover ul{
    visibility:visible;
}
/*-------------*/
.dongtrangthai{
    width:550px ;
    height:120px ;
    border:1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

input{
    width: 500px;
    margin-top:10px;
    border-radius: 10px;
}

hr{
    width: 500px;
}

.right123{
    margin-left: 10%;
}
/*------------*/
.khunganh1{
    width: 20px;
    height: 20px;
    margin: 5px;
}

/*.logophonghopmat{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    float: left;*/
/*    object-fit: contain;*/
/*}*/

.tieudephonghopmat{
    width: 100%;
    height: 100%;
    float: left;
    object-fit: contain;
}
.phonghopmat{
    width:550px ;
    height:60px ;
    border:1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    float: left;
}

.taophonghopmat{
    width:300px ;
    height:30px ;
    border:1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    float: left;
}
.nguoidangonline{
    width:30px ;
    height:30px ;
    border:1px solid black;
    border-radius: 50%;
    float: left;
    margin: 10px;
}

.anhnguoionline{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
/*------------------*/
.anhquangcao{
    float: left;
    margin: 5px;
}
.noidungquangcao{
    float: left;
    margin: 5px;
}